* {
    primaryColor: #212121;
    secondaryColor: #303030;
    tertiaryColor: #424242;
    quarternaryColor: #545454;
    secondaryButtonColor: #BB86FC;
    secondaryButtonHoverColor: #d2affc;

}

.root{
    -fx-text-fill: white;
}

.appbar {
    -fx-background-color: primaryColor;
}

.background {
    -fx-background-color: tertiaryColor;
}

.menubar {
    -fx-background-color: secondaryColor;
}

.choice-box .label{
    -fx-text-fill: black;
}

.searchbar {
    -fx-background-color: tertiaryColor;
}

.nonEditableField {
    -fx-cursor: default;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 20;

}


.lightbox {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.lightboxContent {
    -fx-background-color: tertiaryColor;
    -fx-background-radius: 20;
}

.popUp {
    -fx-background-color: secondaryColor;
    -fx-background-radius: 20;
}

.menuButton {
    -fx-background-color: tertiaryColor;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.menuButton:hover {
    -fx-background-color: quarternaryColor;
}

.loginButton{
    -fx-background-color: quarternaryColor;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.loginButton:hover{
    -fx-background-color: #767676;
}

.smallLabel {
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.smallText{
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.verySmallLabel {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.bigLabel {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.loginText {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.errorMessage {
    -fx-text-fill: red;
}

.goodMessage {
    -fx-text-fill: #00ff0f;
}

.confirmButton{
    -fx-background-radius: 10;
    -fx-background-color: secondaryButtonColor;
    -fx-font-size: 20px;
    -fx-text-fill: primaryColor;
}

.confirmButton:hover{
    -fx-background-color: secondaryButtonHoverColor;
}

.label{
    -fx-text-fill: white;
    -fx-font-fill: white;
}

#loginButton {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.readOnlyTA .content{
    -fx-cursor: closed;
}

.smallPane{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 6px;
}

