.appbar{
    -fx-background-color: #212121
}

.background{
    -fx-background-color: #303030;
}

.dialogs{
    -fx-background-color: #424242;
}

.menuButton{
    -fx-background-color: #424242;
    border: solid #FFFFFF;
    -fx-text-fill: #FFFFFF;
    height:75px;
    width:200px;
    -fx-border-color:white;
    -fx-border-width: 1;
}

.menuButton:hover{
    -fx-background-color: #4d4d4d;
}

