/**

 */

*{
    primaryColor: #424242;
    secondaryColor: #212121;
}

.appbar{
    -fx-background-color: secondaryColor;
}

.nonEditableField{
    -fx-cursor: default;
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: white;
    -fx-font-size: 20;

}


.background{
    -fx-background-color: #303030;
}

.lightbox{
    -fx-background-color: rgba(0,0,0,0.75);
}

.lightboxContent{
    -fx-background-color: primaryColor;
    -fx-background-radius: 20;
}

.dialogs{
    -fx-background-color: primaryColor;
}

.menuButton{
    -fx-background-color: primaryColor;
    border: solid #FFFFFF;
    -fx-text-fill: #FFFFFF;
    height:75px;
    width:200px;
    -fx-border-color:white;
    -fx-border-width: 1;
}

.menuButton:hover{
    -fx-background-color: #4d4d4d;
}

.smallLabel{
    -fx-font-size: 20;
    -fx-text-fill: white;
}


