
* {
    primaryColor: #212121;
    secondaryColor: #303030;
    tertiaryColor: #424242;
    quarternaryColor: #545454;
    appButtonColor: #BB86FC;

}

.appbar {
    -fx-background-color: primaryColor;
}

.background {
    -fx-background-color: tertiaryColor;
}

.menubar {
    -fx-background-color: secondaryColor;
}

.searchbar {
    -fx-background-color: tertiaryColor;
}

.inAppButton {
    -fx-background-color: appButtonColor;
    -fx-text-fill: primaryColor;
    -fx-text-size: 18;
}

.nonEditableField {
    -fx-cursor: default;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.lightbox {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.lightboxContent {
    -fx-background-color: tertiaryColor;
    -fx-background-radius: 20;
}

.menuButton {
    -fx-background-color: tertiaryColor;
    border: solid #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

.menuButton:hover {
    -fx-background-color: quarternaryColor;
}

.smallLabel {
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.verySmallLabel {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.bigLabel {
    -fx-font-size: 24;
    -fx-text-fill: #FFFF;
}

.loginText {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.errorMessage {
    -fx-text-fill: red;
}

.goodMessage {
    -fx-text-fill: #00ff0f;
}

#loginButton {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.choice-box {
    -fx-background-color: quarternaryColor;
}

.choice-box > .label{
    -fx-text-fill: white;
}

